<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mainstyle.css">
    <title>동그리 동화AI 서비스</title>
</head>
<body>
    <div class="logo">
        <image src="C:\\cakd5\\donggri_web\\logo.png" width="500px" height="250px">
    </div>
    <div class="start_button">
        <p><button class="butt">시작하기</button></p>
    </div>
</body>
</html>


    
